/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
} */

*/ Skyla about page code below */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    flex: 1;
    margin: 10px;
}

.brandnametop {
    text-align:center;
    border: 2px solid #000000;
    background-color: black;
    color: white
}

.topnavabout {
    overflow: hidden;
    background-color: #000000;
}

.topnavabout a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavabout a:hover {
    background-color: #505050;
    color: black;
}

.topnavabout input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .topnavabout a, .topnavabout input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

.topnavabout input[type=text] {
    border: 1px solid black;
}
}


.topimage {
    display: block;
    width: 100%;
    margin: auto;
}

.whoweare {
    text-align: center;
}

.donatebuttoncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutdonatebutton {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    margin-top: 15px;
    font-size: larger;
}


.aboutimage {
    max-inline-size: 100%;
    width: auto;
    height:auto;
    margin-left: auto;
}

.aboutimage1 {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutimage2 {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutimage3 {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.believe {
    text-align:center;
    padding:50px;
    color: #449DD1;
}

.heart {
    text-align: center;
    font-size: 50px;
}


.bottomcontact {
    background-color: #000000;
    color:white;
    display: flex;
justify-content: space-around;
    overflow: hidden;
}

.contactinfo {
    text-align:center;
    margin-bottom:0%;
}

.footer {
    text-align: center;
}
